body{
  font-size: 16px;

}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  align-items: center;
  background: white;
  margin-left: -5px;
  margin-right: -5px;
  
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo > img {
  width: 190px;
}

.space-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  /* font-family: 'Libre Franklin'; */
  /* font-family: "Franklin Gothic Heavy", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; */
  font-family: "nyt-franklin";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.search{
  display: flex;
  /* align-items: flex-start; */
  
}

.search > i, a {
  padding: 0 10px;
  font-weight: bolder;
  font-size: 1rem;
}

.article-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

figure > img{
  width: 100%;
  vertical-align: top;
}

.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  

}

.btn-header {
  background-color: #567b95;
  color: white;
  border-radius: 3px;
  border: 1px solid #326891;
  text-transform: uppercase;
  font-family: "nyt-franklin";
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  padding: 10px;
}

.title-container {
  width: 600px;
  
}
.article-title {
  text-align: left;
  margin-top: 10%;
  margin-bottom: 10px;
  font-family: "nyt-cheltenham";
  font-weight: bolder;
  font-style: italic;
  font-size: 40px;
}
.figcaption-container {
  width: 75%;
}
.figcaption {
  margin-top: 10px;
  font-family: "nyt-imperial";
  color: #666;
  font-size: 15px;
  line-height: 20px;
  
}

.article-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.article-author {
  width: 100%;
  margin: 15px 15px;
}

.article-author > span {
  font-family: "nyt-franklin";
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

.article-date {
  font-family: "nyt-franklin";
  font-weight: 500;
  color: #333;
}

.article-date-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.article-links-elements i{
  font-size: 14px;
  /* display: flex; */
  /* align-items: flex-end; */
  }

.social-btn{
  border-radius: 100%;
  margin: 5px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  /* border: white; */
}

.article-text {
  font-family: "nyt-imperial";
  font-size: 20px;
  line-height: 30px;
  color: #333;
}

aside {
  float: right;
  background-color: teal;

 
}



footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #333;
  font-family: "nyt-franklin";
  color: #333;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-right: -5px;
  margin-left: -5px;
  

}

.message {
  margin-left: 10%;
  font-size: 15px;
}

.action{
  display: flex;
  align-items: center;
  
}

.expand {
  font-size: 12px;
  font-weight: bolder;

}
.action button{
  background: none;
  border: none;
  width: 100px;
}
