body{
  font-size: 16px;

}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  align-items: center;
  padding-bottom: 5px;
  background: white;
}

.logo > img {
  width: 180px;
}

.space-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: 'Libre Franklin';
  font-weight: bolder;
}

.search{
  display: flex;
  align-items: center;
}

.search > i, a{
  padding: 0 10px;
  font-weight: bolder;
  font-size: 16px;
  ;
}


.btn-header {
  background-color: #567b95;
  color: white;
  border-radius: 3px;
  border: 1px solid #326891;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  padding: 10px;
}



footer{
  background-color: brown;
  position: sticky;
  bottom: 0;
}
